extends layout

block content
  h1= title
  img(src="/images/gonzo.jpg", alt="Gonzo Muppet Hunter")

  p Welcome to #{title}

  p Current Location

  form(id='currentLocation')
    fieldset
        div#legand
            legend Note: Any Location information is not stored or sent to any other point.
        div.control-group
            label(for='latitude',class='control-label') Latitude
            div.controls
                input(type='text',id='latitude',name='latitude',value=location.latt,class='input-xlarge')
        div.control-group
            label(for='longitude',class='control-label') Longitude
            div.controls
                input(type='text',id='longitude',name='longitude',value=location.long,class='input-xlarge')
  
  div
    a(id='setupLocation', href='/location') Setup Location
  div
    a(id='functions', href='/functions') Goto Functions

