extends layout

block content
  h1= title
  img(src="/images/gonzo.jpg", alt="Gonzo Muppet Hunter")

  p Welcome to #{title}

  form(action='/list',method='')
    input(type='submit',value='List Networks',data-transition='fade', data-theme='c')

  form(action='/monitor',method='')
    input(type='submit',value='Monitor Network',data-transition='fade', data-theme='c')