extends layout

block content
  h1= title

  p Please Select the Network to Monitor

  form(action='/monitor/monitoring', method='POST')
    select(id='networkList', name='bssid')
        each row in data
            option(value=row.network.mac) Network #{row.network.ssid} Channel #{row.network.channel}
    input(id='networkName', name='network',type='text',hidden='true')
    input(type='submit',value='Monitor',data-transition='fade', data-theme='c')
  //var wsrpc = require('express-ws-rpc');
  script(type="text/javascript").
    $("document").ready(function(){
        
        // Set Default
        $("#networkName").val($("#networkList option:selected").text());
        
        // Store Name of Network
        $("#networkList").on('change', function() {
            $("#networkName").val($("#networkList option:selected").text());
        });

    });