extends layout

block content
  h1= title
  img(src="/images/gonzo.jpg", alt="Gonzo Muppet Hunter")

  p Monitoring #{network}
  
  p Status of Network
  
  table
  
    thead
        th MAC
        th Status
    tbody
        td(id='mac')
            #{bssid}
        td(id='status')
  
