extends layout


block content
  h1= title
  img(src="/images/gonzo.jpg", alt="Gonzo Muppet Hunter")

  p Monitoring #{network}
  
  p Status of Network

  script(type="text/javascript", src="/javascripts/monitor.js")
  script(type="text/javascript", src="/javascripts/bundle.js")
  
  table
    thead
        th MAC
        th Status
    tbody
        td(id='bssid') #{bssid}
        td(id='status')
