extends layout

block content
  h1= title

  p Please Select the Network to Monitor

  form(action='/monitor/monitoring',method='')
    select
        each row in data
            option(value=row.network.mac) Network #{row.network.ssid} Channel #{row.network.channel}
    input(type='submit',value='Monitor',data-transition='fade', data-theme='c')

