extends layout


block content
  h1= title
  img(src="/images/gonzo.jpg", alt="Gonzo Muppet Hunter")

  p Monitoring #{network}
  
  p Status of Network
 
  table
    thead
        th MAC
        th SSID
        th Channel
        th RSSI
        th Status
    tbody
        td(id='bssid') #{bssid}
        td(id='essid')
        td(id='channel')
        td(id='rssi')
        td(id='status')

  script(type="text/javascript", src="/javascripts/bundle.js")
  